.row-container {
    display: flex;
}

.padded {
    padding: 10px;
}

.triple-padded {
    padding: 30px;
}

.vcentered {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

text {
    dominant-baseline: hanging;
}
