---
---
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Unit Circle</title>
    {% include KaTeX_style %}
    <script type="importmap">
      {
        "imports": {
          {% include KaTeX_imports %}
          "funcs": "./mjs/unit_circle.funcs.mjs",
          "mouse": "./mjs/unit_circle.mjs"
        }
      }
    </script>
    <script src="./mjs/unit_circle.mjs" type="module" defer></script>

    <style> svg { #figure: 1px solid black; } </style>
  </head>

  <body>
    <div style="display: flex; padding-top: 10px;">
      <svg
        id="figure"
        width="300" height="300"
        viewBox="0 0 300 300"
        style="background-color:#acc;"
        xmlns="http://www.w3.org/2000/svg" version="1.1"
      >
        <defs>
          <circle id="point" r="2" fill="green" />
        </defs>

        <g transform="matrix(1 0 0 1 150 150) matrix(1 0 0 -1 0 0)">
          <circle id="unit-circle" cx="0" cy="0" r="100" fill="none" stroke="black"/>

          <g id="orange-lines" stroke="orange" stroke-width="2" >
            <line id="mouse-line" x1="0" y1="0" x2="150" y2="0" />
            <line id="base-line" x1="0" y1="0" x2="150" y2="0" />
            <line id="hypo-line" x1="100" y1="0" x2="100" y2="0" />
          </g>

          <use id="center-point" href="#point" x="0" y="0" />
          <use id="vertex-point" href="#point" x="100" y="0" />
          <use id="x-axis-point" href="#point" x="100" y="0" />
          <use id="one-zero-point" href="#point" x="100" y="0" />
        </g>
      </svg>
      <div style="padding: 20px;">
        <div style="margin: 0; position: relative; top: 50%; transform: translateY(-50%);" id="TeX"></div>
      </div>
    </div>
    <div id="screen-log"></div>
  </body>
</html>
