---
permalink: /math/differentiation/product_rule
---
<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% include favicon %}
    <meta charset="utf-8">
    <title>Product Rule of Differentiation</title>

    <!-- css -->
    {% include KaTeX_style %}
    <link href="./style.css" rel="stylesheet">
    <link href="/math/css/staticTeX.css" rel="stylesheet">

    <!-- scripts -->
    <script type="importmap">
      {
        "imports": {
          {% include KaTeX_imports %},
          "io_pair": "./mjs/io_pair.mjs",
          "product_rule": "./mjs/product_rule.mjs"
        }
      }
    </script>
    <script src="/math/mjs/staticTeX.mjs" type="module" defer></script>
    <script src="./mjs/io_pair.mjs" type="module" defer></script>
    <script src="./mjs/product_rule.mjs" type="module" defer></script>
  </head>

  <body>
    <h1>Product Rule of Differentiation</h1>
    <!-- <h3>This is only known to work on Google Chrome</h3> -->
    <div class="staticTeX padded">
      <span class="origTeX">
        d(\,u(x) \cdot v(x)\,) = v \cdot du \;+\; u\cdot dv
      </span>
      <!-- staticTeX.mjs will add a div here -->
    </div>

    <div class="staticTeX padded">In the four boxes below fill in
      <span class="origTeX">u(x)</span>,
      <span class="origTeX">v(x)</span>,
      <span class="origTeX">du</span>,
      <span class="origTeX">dv</span>.
      After you enter <span class="origTeX">dv</span>, press the tab key.
    </div>

    <div class="padded row-container staticTeX">
      <div>
        <label><span class="origTeX">\;u(x)</span></label><br />
        <input id="ux" name="ux" type="text" size="20" class="inode padded" placeholder="x^2">
        <div>
          <div id="ux_errors" class="vcentered errorlog"></div>
        </div>
        <div id="ux_out" class="vcentered" datalabel="u(x)=\,\,"></div>
      </div>
      <div>
        <label><span class="origTeX">\;v(x)</span></label><br />
        <input id="vx" name="vx" type="text" size="20" class="inode padded" placeholder="\sin^2(x)">
        <div>
          <div id="vx_errors" class="vcentered errorlog"></div>
        </div>
        <div id="vx_out" class="vcentered" datalabel="v(x)=\,\,"></div>
      </div>
    </div>

    <div class="triple-padded"></div>

    <div class="padded row-container staticTeX">
      <div>
        <label><span class="origTeX">\;du</span></label></br />
        <input id="dux" name="dux" type="text" size="20" class="inode padded" placeholder="2 \cdot x">
        <div>
          <div id="dux_errors" class="vcentered errorlog"></div>
        </div>
        <div id="dux_out" class="vcentered" datalabel="du=\,\,"> </div>
      </div>
      <div>
        <label><span class="origTeX">\;dv</span></label></br />
        <input id="dvx" name="dvx" type="text" size="20" class="inode padded" placeholder="2 \cdot \sin(x) \cdot \cos(x)">
        <div>
          <div id="dvx_errors" class="vcentered errorlog"></div>
        </div>
        <div id="dvx_out" class="vcentered" datalabel="dv=\,\,"> </div>
      </div>
    </div>

    <div class="triple-padded"></div>
    <div class="triple-padded"></div>

    <div id="chainrule" class="padded vcentered" datalabel=""> </div>

  </body>
</html>
